:root {
    /*Establece una variable personalizada que contiene un valor de color.*/
    --color-primario: #020745;
    --color-secundario: #ffff00;
    --color-terciario: #d5d5d5;
    --color-cuaternario: #91dfff;
    --color-quintenario: #ffffff;
    --color-hover: #3ebffa;
    --font-family-principal: 'Orbitron', sans-serif;
    --font-family-secundaria: 'Roboto', sans-serif;
    --xs: 1.2rem;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
    --xl: 2.4rem;
    --border-radius: 0.5rem;
    --transition-speed: 0.3s;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

/* Estilos generales */
html {
    /*Establece un estilo para el elemento raíz del documento.*/
    font-size: 62.5%;
    /*Establece el tamaño de fuente predeterminado para el documento.*/
    scroll-behavior: smooth;
    /*Establece un estilo para el comportamiento de desplazamiento suave.*/
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    /*Establece un margen y un padding para el elemento raíz del documento. No permite el desplazamiento vertical*/
    box-sizing: border-box;
    height: 100vh;
}

body {
    font-family: var(--font-family-secundaria);
    display: grid;
    grid-template-columns: 4% 92% 4%;
    grid-template-rows: repeat(12, 1fr);
    height: 100vh;
    width: 100%;
    /* overflow: hidden; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*Estilos del Header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* grid-column: 1 / 4;
    grid-row: 1 / 2; */
    background-color: var(--color-primario);
    height: 8rem;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    width: 100%;
    height: 100%;
}

.logocontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 1px;
    left: 44px;
    width: 70px;
    height: 60px;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 500ms;
}

.pelogo {
    display: block;
    position: relative;
    width: 70px;
    height: 60px;
    background: #020745;
    background: linear-gradient(135deg, #020745 0%, #020745 100%);
    font-family: Trebuchet MS, sans-serif;
    font-size: 50px;
    /* Ajustado para que encaje en el tamaño de 100px */
    font-weight: bold;
    color: var(--color-cuaternario);
    text-align: center;
    line-height: 70px;
    /* Ajustado para centrar el contenido */
}

.pelogo img {
    width: 60px;
    height: 60px;
}

.loader {
    display: block;
    position: absolute;
    background-color: #3ebffa;
}

.loader:hover {
    background-color: var(--color-terciario);
}

/*Pretty complex animation, so each side needs its own @keyframes.*/

@keyframes slide1 {
    50% {
        width: 10vh;
        margin-left: 0;
    }

    100% {
        margin-left: 10vh;
    }
}

@keyframes slide2 {
    50% {
        height: 10vh;
        margin-top: 0;
    }

    100% {
        margin-top: 10vh;
    }
}

@keyframes slide3 {
    50% {
        width: 10vh;
        margin-right: 0;
    }

    100% {
        margin-right: 10vh;
    }
}

@keyframes slide4 {
    50% {
        height: 10vh;
        margin-bottom: 0;
    }

    100% {
        margin-bottom: 10vh;
    }
}

.lista {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin-right: 3rem;
}

.lista .items {
    text-decoration: none;
    font-family: var(--font-family-principal);
    color: var(--color-cuaternario);
    font-size: var(--md);
    padding: 0.5rem;
    position: relative;
    margin: 0 1rem;
    list-style: none;
    padding-bottom: 0.5rem;
    letter-spacing: 0.15rem;
}


.lista .items:hover {
    color: var(--color-terciario);
}

.lista .items:active {
    color: var(--color-cuaternario);
}

.lista .items::before {
    content: "";
    position: absolute;
    height: 0.1rem;
    width: 0;
    bottom: 0;
    transition: all .3s ease;
}

.lista .items:hover::before {
    content: "";
    position: absolute;
    height: 0.2rem;
    width: 70%;
    bottom: 0;
    background-color: var(--color-cuaternario);
}


/*Estilos del Main*/
main {
    display: grid;
    grid-column: 2 / 2;
    grid-row: 2 / 13;
    background-color: rgb(2, 7, 69, 0.8);
    height: 100vh;
    width: 100%;
    max-width: 10000px;
    /* Limitar el ancho máximo del contenido */
    text-align: left;
    /* Alinear el texto a la izquierda */
}

section {
    display: grid;
    grid-template-columns: 30% 50% 20%;
    align-items: left;
    justify-content: center;
}

.contenido {
    display: grid;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}

/* Estilos para el cursor */
.cursor {
    display: inline-block;
    width: 3px;
    height: 1em;
    /* Igual a la altura del texto */
    background-color: var(--color-cuaternario);
    /* Color del cursor */
    animation: blink 0.9s steps(2, start) infinite;
    /* Parpadeo del cursor */
    vertical-align: text-bottom;
    position: relative;
}

/* Animación para el cursor */
@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    /* Visible */
    50% {
        opacity: 0;
    }

    /* Oculto */
}

/* Asegura que el cursor parpadee siempre */
.blink {
    animation: blink 0.7s infinite;
}

.saludo {
    text-align: left;
    color: var(--color-cuaternario);
    font-size: var(--md);
    word-spacing: 0.5rem;
    letter-spacing: 0.15rem;
    margin-top: 34rem;
    margin-bottom: 1rem;
    /* padding-top: 20rem; */
}

.nombre {
    text-align: left;
    font-family: var(--font-family-principal);
    color: var(--color-secundario);
    font-size: var(--xl);
    word-spacing: 0.5rem;
    letter-spacing: 0.2rem;
    margin-top: 0.1rem;
    margin-bottom: 1.2rem;
}

.descripcion {
    text-align: left;
    color: var(--color-terciario);
    font-size: var(--sm);
    margin-bottom: 1.4rem;
    word-spacing: 0.5rem;
    letter-spacing: 0.4rem;
}

h3 {
    text-align: left;
    color: var(--color-cuaternario);
    font-size: var(--md);
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    word-spacing: 0.5rem;
    letter-spacing: 0.15rem;
}


.corner-button {
    font-family: var(--font-family);
    width: 18rem;
    letter-spacing: .2rem;
    cursor: pointer;
    background: transparent;
    border: 0.5rem solid currentColor;
    padding: 0.5rem 0.5rem;
    font-size: var(--sm);
    color: var(--color-cuaternario);
    position: relative;
    transition: color var(--transition-speed), transform var(--transition-speed);
    margin-top: 1rem;
    margin-bottom: 14rem;
    border-radius: var(--border-radius);
}

.corner-button:hover {
    color: var(--color-secundario);
    transform: scale(1.05);
    box-shadow: 0 0 10px rgb(145, 223, 255, 0.7);
}

.corner-button a {
    text-decoration: none;
    color: var(--color-cuaternario);
}

.corner-button a:hover {
    color: var(--color-secundario);
}

.corner-button:hover::before {
    width: 0;
}

.corner-button:hover::after {
    height: 0;
}

.corner-button:active {
    border-width: 0.25rem;
}

.corner-button span {
    position: relative;
    z-index: 2;
}

.corner-button::before,
.corner-button::after {
    content: '';
    position: absolute;
    background: rgb(2, 7, 69);
    z-index: 1;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.corner-button::before {
    width: calc(100% - 3rem);
    height: calc(101% + 1rem);
    top: -0.5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.corner-button::after {
    height: calc(100% - 3rem);
    width: calc(101% + 1rem);
    left: -0.5rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Contenedor del video de fondo */
.video-fondo-aley {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Asegura que el video quede detrás del contenido */
    overflow: hidden;
    pointer-events: none;
    /* Evita interferir con el contenido clickeable */
}

/* Video dinámico */
.video-fondo-aley video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Centra el video */
    width: 100vw;
    /* Asegura que el video ocupe todo el ancho de la ventana */
    height: 100vh;
    /* Asegura que el video ocupe toda la altura de la ventana */
    object-fit: cover;
    /* Cubre toda el área sin distorsionar el video */
}

/* Footer */
.redes-sociales {
    display: flex;
    grid-column: 1 / 1;
    grid-row: 2 / 13;
    background-color: var(--color-primario);
}

.redes-sociales .social {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 25rem;
    gap: 2rem;
    margin: 1rem;
    color: var(--color-cuaternario);
}

.redes-sociales .social .icon {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 1rem;
    font-size: var(--lg);
    text-decoration: none;
    color: var(--color-cuaternario);
}

.redes-sociales .social .icon:hover {
    color: var(--color-terciario);
    transform: scale(1.2);
    transition: all .3s ease;
}

.e-mail {
    display: flex;
    grid-column: 3 / 3;
    grid-row: 2 / 13;
    background-color: var(--color-primario);
    position: relative;
    text-align: center;
}

.mail {
    writing-mode: vertical-rl;
    /* Texto en vertical */
    text-orientation: right;
    /* Orientación de los caracteres */
}

.mail .ac {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-decoration: none;
    font-family: var(--font-family-secundaria);
    font-size: var(--lg);
    /* Ajusta el tamaño del texto */
    color: var(--color-cuaternario);
    /* Color del texto */
    margin-left: 2rem;
    /* Ajusta el relleno del texto */
    letter-spacing: 0.15rem;
    /* Ajusta el espaciado entre letras */
    transition: all 0.3s ease;
}

.e-mail .ac:hover {
    color: var(--color-terciario);
    transform: scale(1.2);
}